/* Pell container */
.pell-container {
	/* display: flex;
	flex-direction: column;
	max-width: 600px;
	padding-top: 20px;
	padding-bottom: 20px; */
	/* right: 50%; */
	display: none;
	/* margin: auto; */
	margin-top: 50px;
	position: absolute;
	/* width: 400px; */
	/* padding: 20px; */
	background-color: #333;
	/* border: 1px solid #ccc; */
	border-radius: 5px;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
	/* text-align: center; */
	z-index: 1000;
}

.pell-header{
	display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
	line-height: 15px;
}

.pell-title {
	margin: 5px 0px 5px 5px;
	float: right;
    width: 100%;
}

/* .pell-cancel-button {
	margin: 5px;
	float: left;
} */

.close-thik {
	color: #777;
	font: 14px/100% arial, sans-serif;
	margin: 5px 10px 5px 10px;
	float: left;
	/* position: absolute; */
	/* right: 10px;
	top: 10px; */
	text-decoration: none;
	/* text-shadow: 0 1px 0 #fff; */
	cursor: pointer;
  }

.close-thik:after {
	content: '✖'; /* UTF-8 symbol */
}

.close-thik:hover {
	color: #ff1c1c;
}

.pell-editor {
	background-color: #333;
	color: #ccc;
	border: 1px solid #ccc;
	margin: 0px 5px 0px 5px;
	height: 350px;
	width: 350px;
	overflow-y: auto;	/* Add vertical scrolling when needed */
	overflow-x: auto;	/* Add horizontal scrolling when needed */
}

.pell-footer {
	display: flex;
    width: 100%;
    justify-content: space-between;
}

.pell-tags {
	margin: 5px;
	float: right;
    width: 100%;
}

.pell-create-button {
	margin: 5px;
	float: left;
}

/* .pell-create-button {
	float: right;
} */

/* .pell-tags-create {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

.pell-tags-create input {
	flex: 1;
	margin-right: 10px;
}

.pell-tags-create button {
	flex: 1;
	margin-right: 10px;
} */

/* .pell-hidden {
	display: none;
} */

.pell-actionbar {
	/* color: black; */
	background-color: green;
}